apiVersion: v1
kind: Service
metadata:
  name: openfga
  labels:
    app: openfga
spec:
  type: ClusterIP
  selector:
    app: openfga
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: grpc
    port: 8081
    targetPort: 8081
    protocol: TCP
